<div class="container">
  
  <div class="validates">
    <% if @kinki.errors.any? %>
      <%= @kinki.errors.count %> 件の入力ミスがあります。
      <% @kinki.errors.full_messages.each do |message| %><br>
        ・<%= message %>
      <% end %>
    <% end %>
  </div>
  
  <h2>記事作成</h2>

  <div class="article-new">
      
    <%= form_with model: @kinki, url: kinkis_path, local:true do |f| %>
      <div class="article-item">
        <%= f.label :都道府県 %><br>
        <%= f.select :prefecture_name, Kinki.prefecture_names.keys.map {|k| [I18n.t("enums.kinki.prefecture_name.#{k}"), k]}, :prompt => "選択してください" %>
      </div>
      
      <div class="article-item">
        <%= f.label :場所, class: "article-title" %><br>
        <%= f.text_field :title, class: "title-form" %>
      </div>
      
      <div id="evaluate_stars">
        <label>評価</label><br>
      </div>
      
      <div class="article-item">
        <%= f.label :内容 %><br>
        <%= f.text_area :caption, class: "caption-form" %>
      </div>
      
      <div class="article-item">
        <%= f.submit "記事追加", class: "action" %>
      </div>
    <% end %>
    
    <script>
      $('#evaluate_stars').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'kinki[evaluation]' //登録するモデル名とカラム名を記述
      });
    </script>
       
  </div>

</div>