<div class="flash">
  <%= flash[:notice] %>
</div>

<div class="container">

  <h2 class="prefectures-title"><%= "九州地方 （全#{@kyusyus_all.count}件）" %></h2>

  <% if @kyusyus.exists? %>

    <div class="new-post">
      <%= link_to new_kyusyu_path do %>
        <i class="fas fa-plus-square icon fa-2x"></i>
      <% end %>
    </div>

    <table border="1">
      <thead>
        <tr>
          <th class="prefectures_name">都道府県</th>
          <th class="place">場所</th>
          <th class="evaluation">評価</th>
          <th class="caption">内容</th>
          <th class="date">投稿日</th>
        </tr>
      </thead>
      <tbody>
        <% @kyusyus.each do |kyusyu| %>
          <tr>
            <td class="prefectures_name"><%= kyusyu.prefecture_name_i18n %></td>
            <td class="place"><%= kyusyu.title %></td>
            <td class="kyusyu-evaluation" data-score="<%= kyusyu.evaluation %>"></td>
            <td class="caption">
              <details class="caption-show">
                <summary>詳細を開く</summary>
                <%= simple_format(kyusyu.caption) %>
              </details>
            </td>
            <td class="date"><%= kyusyu.created_at.strftime('%Y年%m月%d日') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="pagination">
      <%= paginate @kyusyus %>
    </div>
    
    <div class="back">
      <%= link_to prefectures_path do %>
        <span>都道府県一覧に戻る</span>
      <% end %>
    </div>

    <script>
      $('.kyusyu-evaluation').raty({
        readOnly: true,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: function() {
          return $(this).attr('data-score');
        }
      });
    </script>

  <% else %>
      <div class="no-post">
        <h2>※投稿履歴がありません</h2>
        <%= link_to new_kyusyu_path do %>
           <p class="action">こちらをクリックして投稿しよう！</p>
        <% end %>
      </div>
  <% end %>

</div>