<div class="container">

  <h2 class="homes-title">都道府県一覧</h2>
  
  <div class="locals">
    <%= link_to hokkaidoes_path do %>
      <h3>・北海道</h3>
    <% end %>
  </div>
  
  <div class="locals">
    <%= link_to tohokus_path do %>
      <h3>・東北地方</h3>
    <% end %>
    
    <details class="detail">
      <summary>詳細を開く</summary>
        <li>青森県</li>
        <li>岩手県</li>
        <li>宮城県</li>
        <li>秋田県</li>
        <li>山形県</li>
        <li>福島県</li>
    </details>
  </div>
  
  
  <div class="locals">
    <%= link_to tohokus_path do %>
      <h3>・関東地方</h3>
    <% end %>
    
    <details class="detail">
      <summary>詳細を開く</summary>
        <li>茨城県</li>
        <li>栃木県</li>
        <li>群馬県</li>
        <li>埼玉県</li>
        <li>千葉県</li>
        <li>東京都</li>
        <li>神奈川県</li>
    </details>
  </div>
  
  
  <div class="locals">
    <%= link_to tohokus_path do %>
      <h3>・中部地方</h3>
    <% end %>
    
    <details class="detail">
      <summary>詳細を開く</summary>
        <li>新潟県</li>
        <li>富山県</li>
        <li>石川県</li>
        <li>福井県</li>
        <li>山梨県</li>
        <li>長野県</li>
        <li>岐阜県</li>
        <li>静岡県</li>
        <li>愛知県</li>
    </details>
  </div>
  
  
  <div class="locals">
    <%= link_to tohokus_path do %>
      <h3>・近畿地方</h3>
    <% end %>
    
    <details class="detail">
      <summary>詳細を開く</summary>
        <li>三重県</li>
        <li>滋賀県</li>
        <li>京都府</li>
        <li>大阪府</li>
        <li>兵庫県</li>
        <li>奈良県</li>
        <li>和歌山県</li>
    </details>
  </div>
  
  
  <div class="locals">
    <%= link_to tohokus_path do %>
      <h3>・中国地方</h3>
    <% end %>
    
    <details class="detail">
      <summary>詳細を開く</summary>
        <li>鳥取県</li>
        <li>島根県</li>
        <li>岡山県</li>
        <li>広島県</li>
        <li>山口県</li>
    </details>
  </div>
  
  
  <div class="locals">
    <%= link_to tohokus_path do %>
      <h3>・四国地方</h3>
    <% end %>
    
    <details class="detail">
      <summary>詳細を開く</summary>
        <li>徳島県</li>
        <li>香川県</li>
        <li>愛媛県</li>
        <li>高知県</li>
    </details>
  </div>
  
  
  <div class="locals">
    <%= link_to tohokus_path do %>
      <h3>・九州地方</h3>
    <% end %>
    
    <details class="detail">
      <summary>詳細を開く</summary>
        <li>福岡県</li>
        <li>佐賀県</li>
        <li>長崎県</li>
        <li>熊本県</li>
        <li>大分県</li>
        <li>宮崎県</li>
        <li>鹿児島県</li>
    </details>
  </div>
  
  
  <div class="locals">
    <%= link_to tohokus_path do %>
      <h3>・沖縄</h3>
    <% end %>
  </div>

</div>