<div class="container">

  <h2 class="hokkaido-title">北海道</h2>

  <%= link_to new_hokkaido_path do %>
    <h5>新規投稿</h5>
  <% end %>

  <table border="1">
    <thead>
      <tr>
        <th>都道府県名</th>
        <th>タイトル</th>
        <th>内容</th>
        <th>投稿日</th>
      </tr>
    </thead>
    <tbody>
      <% @hokkaidoes.each do |hokkaido| %>
        <tr>
          <td><%= hokkaido.prefecture_name_i18n %></td>
          <td><%= hokkaido.title %></td>
          <td><%= hokkaido.caption %></td>
          <td><%= hokkaido.created_at.strftime('%Y年%m月%d日') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>